<% if (typeof posts !== 'undefined' && Object.keys(posts).length > 0) { %>
    <% Object.keys(posts).forEach(category => { %>
      <h6 class="text-primary mt-3">r/<%= category %></h6>
      <% posts[category].forEach(post => { %>
        <div class="card">
          <h6 class="post-title"><%= post.title %></h6>
          <p class="post-meta">Score: <%= post.score %> | Comments: <%= post.num_comments %></p>
          <% if (post.image) { %>
            <img src="<%= post.image %>" alt="Post Image" class="post-thumbnail">
          <% } else if (post.video) { %>
            <video controls class="post-thumbnail">
              <source src="<%= post.video %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          <% } %>
          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-success btn-save" data-id="<%= post.id %>">Save Post</button>
          </div>
        </div>
      <% }) %>
    <% }) %>
  <% } else { %>
    <p class="text-muted">No posts fetched yet. Use the filters in the sidebar to load posts.</p>
  <% } %>